@{
    ViewBag.Title = "O Stronie";
}
<div class="container about">
    <h1 class="deepshd">O co tu chodzi?</h1>
        <h4><b>Codeployer.pl</b> to strona internetowa, która jest zarówno projektem bazowanym na wzorcu  MVC (<i>Model - View - Controller</i>). Celem wspomnianego projektu jest publikacja innych prac autora danej strony, jak zarówno i osób, które z daną osobą współpracują. Sam projekt możemy właściwie nazwać połączeniem <b>Bloga</b> z <b>Portfolio</b>, gdyż autor strony będzie się dzielił z innymi swoimi odkryciami, pracami, a także nabytą przez niego wiedzą w formie kursów, które można przejść kompletnie za darmo.</h4>

    <h1 class="deepshd">Co można tutaj znaleźć?</h1>
        <h4>Aktualnie... nic lmao</h4>
    
    <h1></h1>
</div>