@{
    ViewBag.Title = "Aktualności";
}

<div class="row">
    <div class="col-md-8 content-box">
        <div class="">
            <h1>Vivamus fringilla ante vel elit facilisis ullamcorper. In rhoncus, ipsum in ullamcorper vehicula, leo orci tempor augue, at mattis erat turpis vel diam. Suspendisse a sapien at augue congue euismod. Pellentesque dictum convallis lacus non pulvinar. Praesent vestibulum magna eget nibh rhoncus, id euismod odio hendrerit. Nam ultrices, leo at interdum convallis, arcu ex tempor nisi, non rutrum tortor enim in risus. Cras semper ligula vitae velit blandit tempus. Nam maximus id dui vehicula ultrices. Vivamus in pulvinar lectus. Fusce sed orci id neque fermentum feugiat. Proin ut lorem est. Nullam nec augue quis lorem laoreet lobortis. Aliquam bibendum lectus a diam consectetur consectetur. In malesuada massa non tellus condimentum, ac pulvinar libero rhoncus. In non felis vulputate turpis commodo fermentum.</h1>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1 content-box">
        <div class="">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </div>
</div>